		  {% extends "layout.html" %}
		  {% block head %}
          <h1>Tumblrmash</h1>
		  <p class="lead">I once watched The Social Network and learned no moral lessons.</p>
		  <center>
		  <form action="/login" method="post">
		  <button class="btn btn-large btn-primary" type="submit"><i class="icon-white icon-text-width"></i>Sign in with Tumblr</button>
	  	  </form>
	 	  </center>
		  <small>Tumblrmash runs on your own computer and your login information is never seen by the application. The internet is nifty!</small> 
		{% endblock %}
